<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A CIÊNCIA está no nosso DNA!</h2>
                <hr class="light">
                <p class="text-faded"><b><u>Insecta.Farm</u></b> tem como objetivo</p>
                </br>
                <a href="#" class="btn btn-default btn-xl">Saiba mais!</a>
            </div>
        </div>
    </div>
</section>
