<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Insetos!</h1>
            <hr>
            <p>Adotamos uma variedade de abordagens para equipar nossos alunos com a combinação mais apropriada de habilidades-chave e melhores práticas. Os cursos incluem desde pequenas aulas sobre software específico ou habilidades-chave até workshops práticos de uma semana que abrangem fluxos de trabalho de pesquisa completos!</p>
            <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Saiba mais!</a>
        </div>
    </div>
</header>
